* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(./img/btcbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input {
    width: 15%;
    line-height: 2em;
    border: 2px solid purple;
    border-radius: 4px;
    font-size: 1.5rem;
    color: black;
}

form {
    text-align: center;
    padding-top: 10%;
}

label {
    padding: 3%;
    color: white;
    font-size: 1.5rem;
}

h3 {
    color: white;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1200px) {
    input{
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    form{
        padding-top: 30%;
    }
}

